@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';




.fi-fo-rich-editor-toolbar {
    position: sticky;
    top: 64px; 
    background-color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    z-index: 10;
}
.dark .fi-fo-rich-editor-toolbar {
    background-color: rgb(31 41 55); 
}